@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>  
    Logatti Centro, Numero 1505, Araraquara-SP<br />
    <abbr title="Telefone">Telefone:</abbr>(16)3392-4512<br />
    <abbr title="Celular">Celular:</abbr> (16)99785-1245
</address>

<address>
    <strong>Facebook Jhon:</strong>   <a href="https://www.facebook.com/jhonwillian.carvalho" target="_blank">Jhon Willian</a><br />
    <strong>Facebook Vitor:</strong> <a href="https://www.facebook.com/VitoorRebello" target="_blank">Vitor Rebello</a><br />
    <strong>E-mail:</strong> <a href="https://www.google.com/intl/pt/gmail/about/#" target="_blank">prolab@gmail.com.br</a>
</address>